@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway');

body {
    background-color: #707070;
    text-align: center;
    margin: 3%;
}

.center {
    margin: auto;
}

.thumbnail {
    width: 55%;
    height: 30%;
    object-fit: cover;
}

.banner {
    padding: 20px;
    margin: auto;
    margin-top: 3%;
    background: #ffffff;
    border-radius: 120px;
    text-align: center;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.75);
}

h1 {
    font-size: 5em;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 4.5em;
    font-family: 'Raleway', sans-serif;
    color: rgb(193, 110, 231)
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 5em;
}