body {
    height: 100%;
    background-blend-mode: color-burn;
    background-color: rgb(250, 238, 212);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(124, 104, 45);
}

.centered {
    text-align: center;
    margin: auto;
}
.tdPadding{
    padding: 20px;
}

.classic {
    border-radius: 7px;
    box-shadow: 0px 0px 13px 0px rgb(107, 105, 105);
    background-color: rgb(221, 235, 233);
    border: solid;
    border-color: rgb(100, 90, 42);
    border-width: 1px;
}

.ledger{
    width: 80%;   
    border-radius: 7px;
    box-shadow: inset 0px 0px 13px 0px rgb(107, 105, 105);
    box-shadow: inset 0px 0px 13px 0px rgb(16, 32, 20);
    background-color: rgb(221, 235, 233);
    margin: auto; 
    background-color: rgb(53, 110, 56);
    font-family: 'Times New Roman', Times, serif;
    color: blanchedalmond;
}

.matte{
    width: 75%;
    margin: auto; 
    background-color: rgb(80, 24, 16);
}


input {
    border: none;
}

input:hover,
select:hover,
textarea:hover {
    transition: 500ms;
    box-shadow: 0px 0px 13px 03px rgba(250, 250, 250, 1);
}